---
import Layout from "../layouts/Layout.astro";
import DetailSensorWidget from "../components/DetailSensorWidget.astro";
import DetailSensorWidgetWind from "../components/DetailSensorWidgetWind.astro";
import SunWidget from "../components/SunWidget.astro";
import { getMoonIndex, getMoonIcon, getMoonName } from "../scripts/utils.ts";

const data = {
  outTemp: {
    current: 0.6,
    avg: 6.9,
    min: 0.6,
    minTime: "22:07",
    max: 10.6,
    maxTime: "15:34",
  },
  appTemp: {
    current: -1.5,
    avg: 4.8,
    min: -1.5,
    minTime: "22:07",
    max: 9.2,
    maxTime: "15:37",
  },
  dewpoint: {
    current: -0.7,
    avg: 3.9,
    min: -0.8,
    minTime: "22:07",
    max: 5.4,
    maxTime: "09:58",
  },
  outHumidity: {
    current: 91,
    avg: 81,
    min: 60,
    minTime: "15:47",
    max: 93,
    maxTime: "02:34",
  },
  barometer: {
    current: 1025.7,
    avg: 1021.4,
    min: 1015.1,
    minTime: "00:00",
    max: 1025.8,
    maxTime: "22:08",
  },
  wind: {
    current: 0,
    avg: 4.2,
    max: 10.5,
    maxTime: "10:40",
    currentDir: 4,
    maxDir: 292.5,
    maxGust: 24.1,
    maxGustTime: "15:03",
    maxGustDir: 270,
  },
  rain: {
    day: 0.4,
    last: "Heute\u00A002:30",
    week: 1,
    weekBefore: 10.2,
    month: 15.4,
    monthBefore: 55.6,
  },
  suntoday: {
    sunrise: "07:10",
    sunset: "17:20",
  },
  suntomorrow: {
    sunrise: "07:09",
    sunset: "17:22",
  },
  daylength: "11h 09m",
  daylengthdiff: "3m länger als gestern",
  moon: {
    phase: 15,
    illumination: 21,
    nextFullMoon: "24.02.2024",
    nextFullMoonDays: 11,
    nextNewMoon: "10.03.2024",
    nextNewMoonDays: 25,
  },
};

const moonindex = getMoonIndex(data.moon.illumination);
const moonIcon = getMoonIcon(moonindex);
const moonPhase = getMoonName(moonindex);
---

<Layout
  title="Sensoren | Wetter Naarn"
  description="Entdecke das Wetter in Naarn mit genauen Messungen für jeden Sensor, inklusive der aktuellen, minimalen und maximalen Temperatur des Tages. Weitere Daten zu Sonne und Mond sind ebenfalls verfügbar."
  keywords="Wetter, Naarn im Machlande, Aktuelle Wetterwerte, Sensoren, aktuell, minimal, maximal, Temperatur, Taupunkt, Luftfeuchte, Luftdruck, Wind, Regen, Sonnen, Mond"
  ogTitle="Wetter Naarn | Sensoren"
  ogDescription="Aktuelle Sensoren sowie die Höchst- und Tiefstwerte des Wetters in Naarn im Machlande."
  ogImage="https://wetter-naarn.at/assets/icons/logo/og-image.png"
  ogUrl="https://wetter-naarn.at/sensoren"
>
  <div id="content">
    <section>
      <h2>Temperatur</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Aktuell"
            text=`Ø ${data.outTemp.avg}°`
            value=`${data.outTemp.current}°`
            icon="/assets/icons/meteocons/static/sensors/thermometer/thermometer.svg"
            iconAlt="Temperatur Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Min"
            value=`${data.outTemp.min}°`
            text={data.outTemp.minTime}
            icon="/assets/icons/meteocons/static/sensors/thermometer/thermometer-colder.svg"
            iconAlt="Temperatur Min Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Max"
            value=`${data.outTemp.max}°`
            text={data.outTemp.maxTime}
            icon="/assets/icons/meteocons/static/sensors/thermometer/thermometer-warmer.svg"
            iconAlt="Temperatur Max Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Gefühlte Temperatur</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Aktuell"
            text=`Ø ${data.appTemp.avg}°`
            value=`${data.appTemp.current}°`
            icon="/assets/icons/meteocons/static/sensors/thermometer-feelslike/thermometer.svg"
            iconAlt="Gefühlte Temperatur Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Min"
            value=`${data.appTemp.min}°`
            text={data.appTemp.minTime}
            icon="/assets/icons/meteocons/static/sensors/thermometer-feelslike/thermometer-colder.svg"
            iconAlt="Gefühlte Temperatur Min Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Max"
            value=`${data.appTemp.max}°`
            text={data.appTemp.maxTime}
            icon="/assets/icons/meteocons/static/sensors/thermometer-feelslike/thermometer-warmer.svg"
            iconAlt="Gefühlte Temperatur Max Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Taupunkt</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Aktuell"
            text=`Ø ${data.dewpoint.avg}°`
            value=`${data.dewpoint.current}°`
            icon="/assets/icons/meteocons/static/sensors/thermometer-dewpoint/thermometer.svg"
            iconAlt="Taupunkt Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Min"
            value=`${data.dewpoint.min}°`
            text={data.dewpoint.minTime}
            icon="/assets/icons/meteocons/static/sensors/thermometer-dewpoint/thermometer-colder.svg"
            iconAlt="Taupunkt Min Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Max"
            value=`${data.dewpoint.max}°`
            text={data.dewpoint.maxTime}
            icon="/assets/icons/meteocons/static/sensors/thermometer-dewpoint/thermometer-warmer.svg"
            iconAlt="Taupunkt Max Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Luftfeuchte</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Aktuell"
            text=`Ø ${data.outHumidity.avg}%`
            value=`${data.outHumidity.current}%`
            icon="/assets/icons/meteocons/static/sensors/humidity/humidity.svg"
            iconAlt="Luftfeuchte Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Min"
            value=`${data.outHumidity.min}%`
            text={data.outHumidity.minTime}
            icon="/assets/icons/meteocons/static/sensors/humidity/humidity-min.svg"
            iconAlt="Luftfeuchte Min Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Max"
            value=`${data.outHumidity.max}%`
            text={data.outHumidity.maxTime}
            icon="/assets/icons/meteocons/static/sensors/humidity/humidity-max.svg"
            iconAlt="Luftfeuchte Max Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Luftdruck</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Aktuell"
            text=`Ø ${data.barometer.avg}hPa`
            value=`${data.barometer.current}hPa`
            icon="/assets/icons/meteocons/static/sensors/barometer/barometer.svg"
            iconAlt="Luftdruck Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Min"
            value=`${data.barometer.min}hPa`
            text={data.barometer.minTime}
            icon="/assets/icons/meteocons/static/sensors/barometer/barometer-min.svg"
            iconAlt="Luftdruck Min Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Max"
            value=`${data.barometer.max}hPa`
            text={data.barometer.maxTime}
            icon="/assets/icons/meteocons/static/sensors/barometer/barometer-max.svg"
            iconAlt="Luftdruck Max Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Wind</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidgetWind
            name="Aktuell"
            text=`Ø ${data.wind.avg}km/h`
            value=`${data.wind.current}km/h`
            rotation={data.wind.currentDir}
          />
        </div>

        <div class="sensor">
          <DetailSensorWidgetWind
            name="Max"
            value=`${data.wind.max}km/h`
            text={data.wind.maxTime}
            rotation={data.wind.maxDir}
          />
        </div>

        <div class="sensor">
          <DetailSensorWidgetWind
            name="Böen Max"
            value=`${data.wind.maxGust}km/h`
            text={data.wind.maxGustTime}
            rotation={data.wind.maxGustDir}
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Regen</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Heute"
            value=`${data.rain.day}mm²`
            text={`Letzter Regen:​ ${data.rain.last}`}
            icon="/assets/icons/meteocons/static/sensors/rain/rain-day.svg"
            iconAlt="Regen Tag Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Woche"
            value=`${data.rain.week}mm²`
            text={`Vorwoche:​ ${data.rain.weekBefore}mm²`}
            icon="/assets/icons/meteocons/static/sensors/rain/rain-week.svg"
            iconAlt="Regen Woche Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Monat"
            value=`${data.rain.month}mm²`
            text={`Vormonat:​ ${data.rain.monthBefore}mm²`}
            icon="/assets/icons/meteocons/static/sensors/rain/rain-month.svg"
            iconAlt="Regen Monat Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Sonne</h2>
      <div class="row">
        <div class="sensor">
          <SunWidget
            name="Heute"
            sunriseIcon="/assets/icons/meteocons/static/sun/sunrise.svg"
            sunriseIconAlt="Sonnenaufgang Icon"
            sunriseTime={data.suntoday.sunrise}
            sunsetIcon="/assets/icons/meteocons/static/sun/sunset.svg"
            sunsetIconAlt="Sonnenuntergang Icon"
            sunsetTime={data.suntoday.sunset}
          />
        </div>
        <div class="sensor">
          <SunWidget
            name="Morgen"
            sunriseIcon="/assets/icons/meteocons/static/sun/sunrise.svg"
            sunriseIconAlt="Sonnenaufgang Icon"
            sunriseTime={data.suntomorrow.sunrise}
            sunsetIcon="/assets/icons/meteocons/static/sun/sunset.svg"
            sunsetIconAlt="Sonnenuntergang Icon"
            sunsetTime={data.suntomorrow.sunset}
          />
        </div>
        <div class="sensor">
          <DetailSensorWidget
            name="Tageslänge"
            value={data.daylength}
            text={data.daylengthdiff}
            icon="/assets/icons/meteocons/static/conditions/09d.svg"
            iconAlt="Tageslänge Icon"
          />
        </div>
      </div>
    </section>

    <section>
      <h2>Mond</h2>
      <div class="row">
        <div class="sensor">
          <DetailSensorWidget
            name="Aktuell"
            value={data.moon.illumination + "%"}
            text={moonPhase}
            icon={moonIcon}
            iconAlt="Mondphase Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Nächster Vollmond"
            value={data.moon.nextFullMoon}
            text={`in ${data.moon.nextFullMoonDays} ${data.moon.nextFullMoonDays !== 1 ? "Tagen" : "Tag"}`}
            icon="/assets/icons/meteocons/static/moon/moon-full.svg"
            iconAlt="Vollmond Icon"
          />
        </div>

        <div class="sensor">
          <DetailSensorWidget
            name="Nächster Neumond"
            value={data.moon.nextNewMoon}
            text={`in ${data.moon.nextNewMoonDays} ${data.moon.nextNewMoonDays !== 1 ? "Tagen" : "Tag"}`}
            icon="/assets/icons/meteocons/static/moon/moon-new.svg"
            iconAlt="Neumond Icon"
          />
        </div>
      </div>
    </section>
  </div>
</Layout>

<style lang="scss">
  #content {
    padding: 0.5em 2em 1.2em 2em;
    min-height: calc(100vh - 1.7em);
    @media (max-width: 1250px) {
      margin-left: 0;
      margin-top: 3.75em;
    }
    @media (max-width: 420px) {
      padding: 0.5em 1em 1.2em 1em;
    }
    .widget {
      padding: 1.5em;
      border-radius: 1em;
    }
    h2 {
      font-size: 2em;
      font-weight: 500;
      margin-bottom: 0.2em;
    }
    section {
      margin-bottom: 1em;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: 950px) {
        flex-direction: column;
      }
      .sensor {
        border-radius: 1em;
        flex: 1;
        margin-right: 1.5em;
        @media (max-width: 950px) {
          margin-bottom: 1.5em;
          width: 100%;
        }
      }
      .sensor:last-child {
        margin-right: 0;
      }
    }
  }
</style>
