---
import Sidebar from "../components/Sidebar.astro";
import Topbar from "../components/Topbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.scss";

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
  ogUrl?: string;
}

const { title, description, keywords, ogTitle, ogDescription, ogImage, ogUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/assets/icons/logo/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/icons/logo/favicons/logo.png">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/logo/logo.svg">
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords} />}
    {ogTitle && <meta property="og:title" content={ogTitle} />}
    {ogDescription && <meta property="og:description" content={ogDescription} />}
    {ogImage && <meta property="og:image" content={ogImage} />}
    {ogUrl && <meta property="og:url" content={ogUrl} />}
  </head>
  <body>
    
    <header id="topbar">
      <Topbar />
    </header>

    <nav id="sidebar">
      <Sidebar />
    </nav>
    <main id="content">
      
      <slot />
    </main>

    <footer id="footer">
      <Footer />
    </footer>
  </body>
</html>

<style lang="scss">
  #topbar {
    display: none;

    @media (max-width: 1250px) {
      display: block;
    }
  }

  #sidebar {
    position: fixed;
    top: 0;
    width: var(--sidebar-width);
    transition: margin-left 0.25s ease-in-out;
    z-index: 1;

    @media (max-width: 1250px) {
      margin-left: calc(var(--sidebar-width) * -1);

      &.active {
        margin-left: 0;
        box-shadow:
          rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      }
    }
  }

  #content {
    margin-left: var(--sidebar-width);
    @media (max-width: 1250px) {
      margin-left: 0;
      margin-top: 3.75em;
    }
  }

  #footer {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
    position: absolute;

    @media (max-width: 1250px) {
      width: 100%;
      margin-left: 0;
    }
  }
</style>

<script>
  const hamburgerOpen = document.querySelector("#topbar #hamburgerwrapper") as HTMLDivElement;
  const hamburgerClose = document.querySelector("#sidebar #hamburgerclose") as HTMLDivElement;
  const sidebar = document.querySelector("#sidebar") as HTMLElement;
  hamburgerOpen.addEventListener("click", () => {
    sidebar.classList.add("active");
  });
  hamburgerClose.addEventListener("click", () => {
    sidebar.classList.remove("active");
  });
</script>